/* login - landing page css */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fafafa;
}

@media (min-width: 768px) {
  .landing-page {
    flex-direction: column;
    align-items: center; /* Centers the content on larger screens */
    padding-bottom: 80px; /* Provides space for the nav-bar */
  }
}

.landing-page .status-bar-iphone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 0 20px;
}

.landing-page .time-iphone {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .time {
  position: flex;
  width: 54px;
  top: -1px;
  left: 0;
  font-family: var(--default-body-bold-font-family);
  font-weight: var(--default-body-bold-font-weight);
  color: var(--system-colourslabel-colourprimarylight);
  font-size: var(--default-body-bold-font-size);
  text-align: center;
  letter-spacing: var(--default-body-bold-letter-spacing);
  line-height: var(--default-body-bold-line-height);
  font-style: var(--default-body-bold-font-style);
}

.landing-page .capacity-wrapper {
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .capacity {
  background-color: #4caf50;
  width: 80%;
  height: 100%;
}

/* .landing-page {
    position: relative;
    width: 100%;
    height: auto; /* Height automatically adjusts based on content */
/* background-color: transparent;
    overflow: hidden; /* Ensures no spill over */

/* Adjustments to internal elements */
.landing-page .square-rectangle,
.landing-page .group {
  position: static;
  width: 100%;
  height: auto;
  display: block;
}

/* Responsive utility */
.landing-page {
  position: relative;
  width: 430px;
  height: 932px;
  background-color: #ffffff;
  overflow: hidden;
}

.landing-page .overlap {
  position: absolute;
  width: 483px;
  height: 932px;
  top: 0;
  left: -27px;
}

.landing-page .square-rectangle {
  position: absolute;
  width: 430px;
  height: 932px;
  top: 0;
  left: 27px;
}

.landing-page .group {
  position: absolute;
  width: 483px;
  height: 932px;
  top: 0;
  left: 0;
}

.landing-page .placeholder {
  height: 932px;
}

.landing-page .overlap-group {
  position: relative;
  width: 397px;
  height: 276px;
  top: 537px;
  left: 43px;
  background-color: #333333cc;
  border-radius: 20px;
  backdrop-filter: blur(4px) brightness(100%);
  -webkit-backdrop-filter: blur(4px) brightness(100%);
}

.landing-page .text-wrapper {
  position: absolute;
  width: 105px;
  height: 40px;
  top: 200px;
  left: 146px;
  font-family: var(--body-copy-16-hifi-font-family);
  font-weight: var(--body-copy-16-hifi-font-weight);
  color: var(--cloud-white);
  font-size: var(--body-copy-16-hifi-font-size);
  text-align: center;
  letter-spacing: var(--body-copy-16-hifi-letter-spacing);
  line-height: var(--body-copy-16-hifi-line-height);
  font-style: var(--body-copy-16-hifi-font-style);
}

.landing-page .overlay-button {
  position: absolute;
  width: 350px;
  height: 60px;
  top: 42px;
  left: 24px;
  background-color: var(--sandy-brown);
  border-radius: 15px;
  font-family: var(--body-copy-16-hifi-font-family);
  font-weight: var(--body-copy-16-hifi-font-weight);
  color: var(--cloud-white);
  font-size: var(--body-copy-16-hifi-font-size);
}

.landing-page .div {
  position: absolute;
  width: 168px;
  top: 14px;
  left: 91px;
  font-family: var(--h2-mobile-font-family);
  font-weight: var(--h2-mobile-font-weight);
  color: var(--cloud-white);
  font-size: var(--h2-mobile-font-size);
  text-align: center;
  letter-spacing: var(--h2-mobile-letter-spacing);
  line-height: var(--h2-mobile-line-height);
  font-style: var(--h2-mobile-font-style);
}

.landing-page .placeholder-wrapper {
  box-sizing: border-box;
  position: absolute;
  width: 350px;
  height: 60px;
  top: 123px;
  left: 24px;
  background-color: var(--sandy-brown);
  border-radius: 15px;
  font-family: var(--body-copy-16-hifi-font-family);
  font-weight: var(--body-copy-16-hifi-font-weight);
  color: var(--cloud-white);
  font-size: var(--body-copy-16-hifi-font-size);
}

.landing-page .header-group {
  position: absolute;
  top: 120px;
  left: 70px;
  display: flex;
  align-items: center;
}

.landing-page .text-wrapper-2 {
  font-family: "Farm to Market Bold-Regular", Helvetica;
  font-size: 40px;
  color: var(--semi-black);
  white-space: nowrap;
}

.landing-page .orang {
  width: 360px;
  height: auto;
  /* margin-right: 10px;  */
}

.landing-page .overlay-button {
  display: block;
  width: 350px;
  height: 60px;
  line-height: 60px;
  margin: 10px auto;
  background-color: var(--sandy-brown); /* Orange color */
  color: var(--cloud-white); /* White text */
  text-align: center;
  border-radius: 15px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.landing-page .placeholder-wrapper {
  display: block;
  width: 350px;
  height: 60px;
  line-height: 60px;
  margin: 10px auto;
  background-color: var(--sandy-brown); /* Orange color */
  color: var(--cloud-white); /* White text */
  text-align: center;
  border-radius: 15px;
  font-family: Helvetica, Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

button > a {
  text-decoration: none;
  color: #ffffff;
}
