<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/cartStyle/style.css" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="shopping-cart-page">
      <div class="div">
        <div class="text-wrapper">My Cart</div>
        <div class="text-wrapper-2">Order Details</div>
        <div class="cart-product">
          <div class="cart-image">
            <p class="p">Product Name from Product Place</p>
            <div class="text-wrapper-3">$2.00</div>
            <div class="product-amount">
              <div class="overlap-group">
                <img class="TRASH page-button-affect" src="image/trash.png" />
                <img class="ADD page-button-affect" src="image/plus.png" />
                <div class="text-wrapper-4">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-product">
          <div class="cart-image">
            <p class="p button-color-affect">Product Name from Product Place</p>
            <div class="text-wrapper-3">$2.00</div>
            <div class="product-amount">
              <div class="overlap-group">
                <img class="TRASH button-enlarge-affect" src="image/trash.png" />
                <img class="ADD button-enlarge-affect" src="image/plus.png" />
                <div class="text-wrapper-4">1</div>
              </div>
            </div>
          </div>
        </div>
        <div class="payment-method">
          <div class="overlap">
            <div class="rectangle"></div>
            <div class="text-wrapper-5">Choose your Payment Method</div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-6 button-enlarge-affect">Pay In Person</div>
            <div class="text-wrapper-7 button-enlarge-affect">Pay Online</div>
            <img class="line" src="img/line-27.svg" />
          </div>
        </div>
        <img class="img" src="img/line-3.svg" />
        <div class="payment-method-order">
          <div class="text-wrapper-8">Order Subtotal</div>
          <div class="text-wrapper-9">$2.00</div>
        </div>
        <div class="header-variants">
          <a href="/home">
            <img class="back-button button-full-affect" src="/image/navigate_before.svg"/></a>
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
