<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/cartStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />

  </head>
  <body>
    <%- include('../../../components/header') %>

    <div class="successful-order">
      <div class="div">
        <div class="text-wrapper">Thank You!</div>
        <form action="/" method="GET"></form>
            <button class="large-button"><div class="submit-order">Explore more Vendors</div></button>
        </form>
        <div class="overlap">
          <p class="we-ve-received-your">
            <span class="span">We've received your order<br /></span>
            <span class="text-wrapper-2"><br /></span>
            <span class="text-wrapper-3"> A confirmation will be sent to johndoe@gmail.com shortly <br /></span>
          </p>
          <img class="group" src="/image/BreadGuy.svg" />
        </div>
        <!---maybe view order by orderId here -->
            <button href="/cart/viewOrder" class="order-confirmation"><div class="text-wrapper-4">Review Order Confirmation</div></button>
    </div>
    </div>

    <%- include('../../../components/footer') %>
  </body>
</html>
