<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/cartStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>

    <div class="successful-order">
      <div class="div">
        <div class="text-wrapper">Thank You!</div>
        <button class="large-button"><div class="submit-order">Explore more Vendors</div></button>
        <div class="overlap">
          <p class="we-ve-received-your">
            <span class="span">We've received your order<br /></span>
            <span class="text-wrapper-2"><br /></span>
            <span class="text-wrapper-3"> A confirmation will be sentto johndoe@gmail.com shortly <br /></span>
          </p>
          <img class="group" src="img/group-71.png" />
          <img class="loaf" src="img/loaf.png" />
        </div>
        <button class="order-confirmation"><div class="text-wrapper-4">Review Order Confirmation</div></button>
      </div>
    </div>
    
    <%- include('../../../components/footer') %>
  </body>
</html>
