<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="checkout-page-card">
      <div class="div">
        <div class="text-wrapper">Checkout</div>
        <div class="text-wrapper-2">Order Details</div>
        <div class="large-button">
          <div class="text-wrapper-3">Submit Order</div>
        </div>
        <div class="contact-info">
          <div class="text-field">
            <div class="label">Email</div>
            <div class="text-field-2">
              <img class="email" src="img/email.svg" />
              <div class="placeholder">email@email.com</div>
            </div>
          </div>
          <div class="text-wrapper-4">Contact Info</div>
          <div class="short-text-field">
            <div class="label">First Name</div>
            <div class="text-field-3"><div class="placeholder">Joe</div></div>
          </div>
          <div class="short-text-field-2">
            <div class="label">Last Name</div>
            <div class="text-field-3"><div class="placeholder">Mahma</div></div>
          </div>
        </div>
        <div class="payment">
          <div class="text-field-4">
            <div class="label">Cardholder Name</div>
            <div class="text-field-2">
              <div class="placeholder">ex. Joe Mahma</div>
            </div>
          </div>
          <div class="text-field-5">
            <div class="label">Card Number</div>
            <div class="text-field-2">
              <div class="placeholder">xxxx-xxxx-xxxx-xxxx</div>
            </div>
          </div>
          <div class="text-wrapper-5">Payment</div>
          <div class="short-text-field-3">
            <div class="label">Expiration Date</div>
            <div class="text-field-3"><div class="placeholder">MM/YY</div></div>
          </div>
          <div class="short-text-field-4">
            <div class="label">Security Code</div>
            <div class="text-field-3"><div class="placeholder">CVC</div></div>
          </div>
        </div>
        <div class="payment-method-order">
          <div class="text-wrapper-6">Order Subtotal</div>
          <div class="text-wrapper-7">$2.00</div>
        </div>
        <div class="payment-method">
          <div class="overlap-group">
            <div class="rectangle"></div>
            <div class="text-wrapper-8">Choose your Payment Method</div>
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
            <div class="text-wrapper-9">Pay In Person</div>
            <div class="text-wrapper-10">Pay Online</div>
            <img class="line" src="img/line-27.svg" />
          </div>
        </div>
        <div class="cart-product">
          <div class="cart-image"></div>
          <p class="p">Product Name from Product Place</p>
          <div class="text-wrapper-11">$2.00</div>
          <div class="product-amount">
            <div class="overlap-group-2">
              <img class="TRASH" src="img/TRASH.png" />
              <img class="ADD" src="img/ADD.png" />
              <div class="text-wrapper-12">1</div>
            </div>
          </div>
        </div>
        <div class="nav-bar">
          <div class="frame">
            <img class="group" src="img/group-39.svg" />
            <img class="img" src="img/group-40.png" />
            <img class="img" src="img/group-41.png" />
            <img class="img" src="img/group-42.png" />
          </div>
          <div class="text-wrapper-13">Home</div>
          <div class="text-wrapper-14">Search</div>
          <div class="text-wrapper-15">Cart</div>
          <div class="text-wrapper-16">Profile</div>
        </div>
        <div class="header-variants">
          <img class="back-button" src="img/property-1-default.svg" />
          <img class="orang" src="img/orang.png" />
        </div>
        <div class="status-bar-iphone">
          <div class="time-iphone"><div class="time">9:41</div></div>
          <div class="cellular-wifi">
            <div class="battery">
              <div class="capacity-wrapper"><div class="capacity"></div></div>
              <img class="cap" src="img/cap.svg" />
            </div>
            <img class="wifi" src="img/wifi.svg" />
            <img
              class="cellular-connection"
              src="img/cellular-connection.svg"
            />
          </div>
          <img class="notch" src="img/notch.png" />
        </div>
      </div>
    </div>
  </body>
</html>
