
/* item-page or /products/productId page */
.item-page {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .item-page .div {
    background-color: var(--cloud-white);
    overflow: hidden;
    width: 430px;
    height: 1280px;
    position: relative;
    top: 50px;
  }
  
  .item-page .add-to-cart {
    position: absolute;
    width: 398px;
    height: 60px;
    top: 1081px;
    left: 16px;
    background-color: var(--sandy-brown);
    border-radius: 15px;
    box-shadow: var(--drop-shadow);
  }
  
  .item-page .group {
    position: relative;
    width: auto;
    min-width: 200px;
    height: 29px;
    top: 0;
    left: 121px;
    display: flex;
    align-items: center;
  }


  .item-page .group .vector {
    width: 20px;
    height: auto; 
  }
  
  .item-page .text-wrapper {
    margin-right: 10px;
    font-family: var(--h2-mobile-font-family);
    font-weight: var(--h2-mobile-font-weight);
    color: var(--cloud-white);
    font-size: var(--h2-mobile-font-size);
    text-align: right;
    letter-spacing: var(--h2-mobile-letter-spacing);
    line-height: var(--h2-mobile-line-height);
    font-style: var(--h2-mobile-font-style);
  }
  
  .item-page .item-page-image {
    position: absolute;
    width: 430px;
    height: 350px;
    top: 0;
    left: 0;
  }

  .item-page .item-page-image img {
    position: absolute;
    width: 430px;
    height: 350px;
    top: 100px;
    left: 0;
    border-radius: 8px;
  }
  
  .product-page .rectangle {
    position: absolute;
    width: 430px;
    height: 460px;
    top: 0;
    left: 0;
    object-fit: cover;
   

  }
  
  .item-page .filled-item img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 470px;
    left: 0px;
    background-size: 100% 100%;
    border-radius: 8px;

  }
  
  .item-page .filled-item-2 img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 470px;
    left: 80px;
    background-size: 100% 100%;
    border-radius: 8px;

  }
  
  .item-page .mini-item-picture img {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 470px;
    left: 160px;
    background-color: var(--med-dark-grey);
    border-radius: 8px;
  }
  
  .item-page .item-description {
    position: absolute;
    width: 398px;
    height: 244px;
    top: 561px;
    left: 16px;
  }
  
  .item-page .favourite {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    left: 358px;
  }
  
  .item-page .item-name {
    position: absolute;
    width: 295px;
    top: 22px;
    left: 0;
    font-family: var(--h1-mobile-font-family);
    font-weight: var(--h1-mobile-font-weight);
    color: #000000;
    font-size: var(--h2-mobile-font-size);
    letter-spacing: var(--h1-mobile-letter-spacing);
    line-height: var(--h1-mobile-line-height);
    font-style: var(--h1-mobile-font-style);
  }
  
  .item-page .text-wrapper-2 {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--h3-mobile-font-family);
    font-weight: var(--h3-mobile-font-weight);
    color: #000000;
    font-size: var(--h3-mobile-font-size);
    letter-spacing: var(--h3-mobile-letter-spacing);
    line-height: var(--h3-mobile-line-height);
    font-style: var(--h3-mobile-font-style);
  }
  
  .item-page .vendor-name {
    position: absolute;
    width: 295px;
    top: 58px;
    left: 0;
    font-family: var(--h2-mobile-font-family);
    font-weight: var(--h2-mobile-font-weight);
    color: #000000;
    font-size: var(--h4-mobile-font-size);
    letter-spacing: var(--h2-mobile-letter-spacing);
    line-height: var(--h2-mobile-line-height);
    font-style: var(--h2-mobile-font-style);
  }
  
  .item-page .element-reviews {
    position: absolute;
    top: 102px;
    left: 22px;
    font-family: var(--h3-mobile-font-family);
    font-weight: var(--h3-mobile-font-weight);
    color: #000000;
    font-size: var(--h3-mobile-font-size);
    text-align: center;
    letter-spacing: var(--h3-mobile-letter-spacing);
    line-height: var(--h3-mobile-line-height);
    font-style: var(--h3-mobile-font-style);
  }
  
  .item-page .star {
    position: absolute;
    width: 19px;
    height: 18px;
    top: 105px;
    left: 0;
  }
  
  .item-page .a-true-embodiment-of {
    position: absolute;
    width: 398px;
    top: 142px;
    left: 0;
    font-family: var(--body-copy-mobile-font-family);
    font-weight: var(--body-copy-mobile-font-weight);
    color: #000000;
    font-size: var(--body-copy-mobile-font-size);
    letter-spacing: var(--body-copy-mobile-letter-spacing);
    line-height: var(--body-copy-mobile-line-height);
    font-style: var(--body-copy-mobile-font-style);
  }
  
  /* css for "other items" part */
  .item-page .item-carosel {
    position: absolute;
    width: 430px; 
    height: 187px;
    top: 820px;
    left: 16px;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    padding-bottom: 60px;
  }

  .item-page .item-carosel .overlap-group {
    position: relative;
    display: inline-block; 
    width: 140px;
    height: 148px;
    margin-right: 20px; 
  }
  
  /* scroller - add-to-cart-2 */
  .item-page .item-carosel .rectangle-wrapper {
    position: relative;
    width: 140px;
    height: 148px;
  }
  
  .item-page .item-carosel .img {
    position: absolute;
    width: 140px;
    height: 148px;
  }
  
  .item-page .item-carosel .add-to-cart-wrapper {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
    width: 33px;
    height: 33px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: var(--drop-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item-page .item-carosel .add-to-cart-2 {
    width: 22px;
    height: 22px;
  }

  .item-page .item-carosel .product-info {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    top: 150px;
  }

  .item-page .item-carosel .text-wrapper-product-name,
  .item-page .item-carosel .text-wrapper-product-price {
  display: block; 
  font-size: 12px;
  margin: 2px 0;
  padding: 2px 0; 
  color: #000;
  font-family: var(--body-copy-mobile-font-family);
  font-weight: var(--body-copy-mobile-font-weight);
  font-style: var(--body-copy-mobile-font-style);
}

.item-page a {
  text-decoration: none;
  color: var(--semi-black);
}

.item-page a:hover {
  color: grey;
  cursor: pointer;
}

/* css for product */
  .item-page .text-wrapper-3 {
    position: absolute;
    width: 295px;
    top: 830px;
    left: 15px;
    font-family: var(--h3-mobile-font-family);
    font-weight: var(--h3-mobile-font-weight);
    color: #000000;
    font-size: var(--h3-mobile-font-size);
    letter-spacing: var(--h3-mobile-letter-spacing);
    line-height: var(--h3-mobile-line-height);
    font-style: var(--h3-mobile-font-style);
  }
  
  .item-page .item-content {
    left: 0;
    position: absolute;
    width: 140px;
    height: 148px;
    top: 39px;
    background-image: url(./img/image.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .item-page .overlap-wrapper {
    left: 156px;
    position: absolute;
    width: 140px;
    height: 148px;
    top: 39px;
    background-image: url(./img/item-content-2.svg);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .item-page .back-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 0px;
    z-index: 2;
  }

  .add-to-cart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
  }

  /* Styling the form container */
  .add-to-cart .group {
      display: inline-block;
      padding: 5px;
  }

  /* Styling the form itself */
  .add-to-cart form {
      display: inline-block;
      margin: 0;
  }

  /* Styling the button */
  .add-to-cart button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent; /* No custom color */
      border: none; /* No border */
      cursor: pointer;
      padding: 8px 12px; /* Adjust spacing */
      text-decoration: none;
      font-family: inherit;
      font-size: inherit;
      color: white;
  }

  /* Remove button default styles */
  .add-to-cart button:focus {
      outline: none;
  }

  /* Styling the text inside the button */
  .add-to-cart .text-wrapper {
      margin-right: 8px; /* Space between text and image */
      font-size: 16px; /* Adjust font size as needed */
      color: inherit; /* No custom color */
      text-align: center;
  }

  /* Styling the image inside the button */
  .add-to-cart .vector {
      width: 24px; /* Adjust size as needed */
      height: 24px;
      display: inline-block;
  }
    

  /* products page */
  .vendor-product-page {
    display: flex;
    background-color: #f5f5f5;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 1500px;
    padding: 16px;
    box-sizing: border-box;

  }
  
  .vendor-product-page .div {
    background-color: var(--cloud-white);
    width: 100%;
    max-width: 430px; 
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .vendor-product-page .products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-top: 70px;

}

.vendor-product-page .product-image {
  width: 100%; 
  height: auto; 
  border-radius: 8px; 
}

.vendor-product-page .product-card {
  position: relative;
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cloud-white);
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 8px; */
  padding: 10px;
  margin-bottom: 50px;
  box-sizing: border-box;
  

}
  
  .vendor-product-page .text-wrapper {
    width: 320px;
    margin-top: 20px;
    margin-left: 10px;
    text-align: left;
    font-family: var(--h2-mobile-font-family);
    font-weight: var(--h2-mobile-font-weight);
    color: #000000;
    font-size: var(--h2-mobile-font-size);
    letter-spacing: var(--h2-mobile-letter-spacing);
    line-height: var(--h2-mobile-line-height);
    font-style: var(--h2-mobile-font-style);
  }

  .vendor-product-page .text-wrapper-2 {
    width: 320px;
    margin-left: 10px;
    text-align: left;
    font-family: var(--h3-mobile-font-family);
    font-weight: var(--h3-mobile-font-weight);
    color: #ff7c08;
    font-size: var(--h3-mobile-font-size);
    letter-spacing: var(--h3-mobile-letter-spacing);
    line-height: var(--h3-mobile-line-height);
    font-style: var(--h3-mobile-font-style);
  }

  
  .vendor-product-page .product-name {
    position: absolute;
    width: 130px;
    height: 21px;
    top: 220px;
    left: 12px;
    font-family: var(--medium-header-mobile-font-family);
    font-weight: var(--medium-header-mobile-font-weight);
    color: #000000;
    font-size: 14px;
    letter-spacing: var(--medium-header-mobile-letter-spacing);
    line-height: var(--medium-header-mobile-line-height);
    font-style: var(--medium-header-mobile-font-style);
    margin-bottom: 30px;
  }
  
  .vendor-product-page .product-price {
    position: absolute;
    height: 21px;
    top: 220px;
    left: 150px;
    font-family: var(--medium-header-mobile-font-family);
    font-weight: var(--medium-header-mobile-font-weight);
    color: #000000;
    font-size: 14px;
    letter-spacing: var(--medium-header-mobile-letter-spacing);
    line-height: var(--medium-header-mobile-line-height);
    font-style: var(--medium-header-mobile-font-style);
  }
  

  /* add to cart button */
  .vendor-product-page .overlap-group {
    position: absolute;
    right: 10px;  
    bottom: 10px; 
    width: auto; 
}
  

.vendor-product-page .add-to-cart {
  position: absolute;
  bottom: 10px;  
  left: 50%; 
  transform: translateX(-130%);  
  width: 20px;   
  height: 20px;  
  cursor: pointer;
  display: block;
  background-color: #f5f5f5; 
  border-radius: 8px;
  padding: 5px;
}

.vendor-product-page a {
  text-decoration: none;
  color: var(--semi-black);
  transition: color 0.3s ease; 
}

.vendor-product-page a:hover {
  text-decoration: underline;
}





