<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/vendor/styles/styleguide.css" />
    <link rel="stylesheet" href="/landing/styles/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="market-info-page">
      <div class="div">
        <div class="overlap">
          <div class="group">
            <div class="social-media">
              <img class="social-icons" src="img/social-icons.svg" />
              <img class="img" src="img/social-icons-4.svg" />
              <img class="social-icons-2" src="img/social-icons-2.svg" />
              <img class="social-icons-3" src="img/social-icons-3.svg" />
            </div>
          </div>
          <div class="mini-vendor-card">
            <div class="vendor">Artisan Cutting Boards</div>
            <img class="rectangle" src="img/rectangle-3-3.svg" />
          </div>
          <div class="mini-vendor-card-2">
            <div class="vendor">Vancouver and Sons</div>
            <img class="rectangle" src="img/image.svg" />
          </div>
        </div>
        <img class="placeholder" src="img/placeholder-1.svg" />
        <div class="text-wrapper">Hastings Market</div>
        <div class="overlap-group">
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="element-col-info">
            <p class="info-info-info-info">
              2901 E Hastings St, <br />Vancouver, BC <br />V5K 5J1
            </p>
            <div class="words">Location</div>
          </div>
          <div class="element-col-info-with-two">
            <div class="overlap-group-2">
              <div class="mon-thur-fri-sat-sun">Mon – Sat<br />Sunday</div>
              <div class="closed">Closed<br />10:00-14:00</div>
              <div class="text-wrapper-2">Hours</div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="rectangle-2"></div>
          <div class="component">
            <p class="info-info-info-info">
              <a
                href="https://www.google.com/search?client=opera-gx&q=east+hastings+farmers+market+contact&sourceid=opera&ie=UTF-8&oe=UTF-8&lqi=CiRlYXN0IGhhc3RpbmdzIGZhcm1lcnMgbWFya2V0IGNvbnRhY3QiAhABSMni9JPnqoCACFouEAAQARACEAMYABgBGAIYAyIcZWFzdCBoYXN0aW5ncyBmYXJtZXJzIG1hcmtldJIBDmZhcm1lcnNfbWFya2V0qgFZEAEqEiIOZmFybWVycyBtYXJrZXQoADIfEAEiG42J17d4X9IShfJXWDZ6Eh-FNIfZkX47lUIIBjIgEAIiHGVhc3QgaGFzdGluZ3MgZmFybWVycyBtYXJrZXQ#"
                target="_blank"
                rel="noopener noreferrer"
                ><span class="span">(604) 879-3276</span></a
              >
              <span class="text-wrapper-3">hastmarket@gmail.com</span>
            </p>
            <div class="words">Contact</div>
          </div>
        </div>
        <div class="text-wrapper-4">Vendors</div>
        <button class="small-button-arrow">
          <div class="frame"><div class="text-wrapper-5">View More</div></div>
          <img class="icons-arrow-forward" src="img/arrow-forward-24px.svg" />
        </button>
        <div class="mini-vendor-card-3">
          <div class="vendor">Seb’s Fish Monger</div>
          <img class="rectangle" src="img/rectangle-3-2.svg" />
        </div>
        <div class="mini-vendor-card-4">
          <div class="vendor">Bob’s Tomato Farm</div>
          <img class="rectangle" src="img/rectangle-3.svg" />
        </div>
        <div class="small-button">
          <div class="our-story">Vendor Sign Up</div>
        </div>
        <div class="nav-bar">
          <div class="frame-2">
            <img class="group-2" src="img/group-39.png" />
            <img class="group-3" src="img/group-40.png" />
            <img class="group-3" src="img/group-41.png" />
            <img class="group-3" src="img/group-42.png" />
          </div>
          <div class="text-wrapper-6">Home</div>
          <div class="text-wrapper-7">Search</div>
          <div class="text-wrapper-8">Cart</div>
          <div class="text-wrapper-9">Profile</div>
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
