<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/landingStyle/style.css" />
</head>
<body>
<div class="mobile-simulator">
    <div class="landing-page">
        <div class="overlap">
            <img class="square-rectangle" src="/image/Landing.jpg" />
            <div class="group">
                <div class="placeholder">
                    <div class="overlap-group">
                        <div class="text-wrapper">Sign up</div>
                        <a href="/auth/customer/login"><button class="overlay-button">Log in as Customer</button></a>
                        <a href="/auth/vendor/login"><button class="placeholder-wrapper">Log in as Vendor</button></a>
                    </div>
                </div>
            </div>
            <div class="header-group">
                <img class="orang" src="/image/TempWordMark.svg" />
            </div>
        </div>
        <div class="status-bar-iphone">
            <div class="time-iphone">
                <div class="time"><%= currentTime %></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>