<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/marketStyle/marketStyle.css" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/homeStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="directory-of-markets">
      <div class="vendor">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Over 30 vendors each week with variety of selections.
        </div>
        <div class="business-name">Hastings Park</div>
        <img class="rectangle-3" src="rectangle-30.png" />
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park">Hastings Park</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park2">Winter Market</div>
        </div>
      </div>
      <div class="vendor2">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Over 50 vendors featuring food and coffee trucks.
        </div>
        <div class="business-name">Kits Market</div>
        <img class="rectangle-3" src="rectangle-31.png" />
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park3">Kits Market</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park4">Summer Market</div>
        </div>
      </div>
      <div class="vendor3">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur">
          Local BC produce, artisan crafts, and delicious baked goods.
        </div>
        <div class="business-name">Port Moody Market</div>
        <img class="rectangle-3" src="rectangle-32.png" />
        <div class="category">
          <div class="rectangle-15"></div>
          <div class="hastings-park5">Port Moody</div>
        </div>
        <div class="category2">
          <div class="rectangle-15"></div>
          <div class="hastings-park6">All Seasons</div>
        </div>
      </div>
      <div class="vendor-overflow">
        <div class="lorem-ipsum-dolor-sit-amet-consectetur2">
          Custom cutting boards hand-made with care.
        </div>
        <div class="business-name2">Port Coquitlam Market</div>
        <img class="rectangle-3" src="rectangle-33.png" />
        <div class="category3">
          <div class="rectangle-15"></div>
          <div class="hastings-park7">Port Coquitlam</div>
        </div>
        <div class="category4">
          <div class="rectangle-15"></div>
          <div class="hastings-park2">Winter Market</div>
        </div>
      </div>
      <div class="all-markets">All Markets</div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
