<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/vendorStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>

    <div class="vendor-account">
      <div class="div">
        <a href="/home"><img class="back-button" src="/image/navigate_before.svg" /></a>
        <div class="text-wrapper">Vendor Account</div>
        <div class="profile">
          <div class="overlap-group">
            <!-- <img
              class="interface-edit-write"
              src="/image/interface-edit-write-2-change-document-edit-modify-paper-pencil-4.svg"
            /> -->
          </div>
          <div class="text-wrapper-2"><%= vendorName %></div>
          <div class="text-wrapper-3">Account type</div>
          <div class="text-wrapper-4">Edit Basic Profile</div>
        </div>
        <div class="account-nav">
          <div class="frame">
            <img class="img" src="/image/interface-edit-binocular--binocular-binoculars-view-zoom.svg" />
          </div>
          <div class="text">Vendor Page</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="account-nav-2">
          <div class="frame">
            <img class="img" src="/image/interface-edit-write-2--change-document-edit-modify-paper-pencil-write-writing.svg" />
          </div>
          <div class="text">Edit Vendor Page</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="account-nav-3">
          <div class="frame">
            <img class="img" src="/image/person_outline_24px.svg" />
        </div>
          <div class="text">Manage Account</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component">
          <div class="frame">
            <img class="img" src="/image/interface-setting-tool-box--box-briefcase-tool-settings.svg" />
          </div>
          <div class="text"><a href="/vendor/addItem">Add Products</a></div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-2">
          <div class="frame"><img class="img" src="/image/interface-key.svg" /></div>
          <div class="text">Password</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-3">
          <div class="frame">
            <img class="img" src="/image/interface-upload-box-1--arrow-box-download-internet-network-server-up-upload.svg" />
          </div>
          <div class="text"><a href="/vendor/inventory">Inventory</a></div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-4">
          <div class="frame">
            <img class="img" src="/image/interface-pad-lock-shield--combination-combo-lock-locked-padlock-secure-security-shield-square.svg" />
          </div>
          <div class="text">Privacy</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-5">
          <div class="frame"><img class="img" src="/image/interface-file-multiple--double-common-file.svg" /></div>
          <div class="text">Terms and Conditions</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-6">
          <div class="frame">
            <img class="img" src="/image/interface-help-question-circle--circle-faq-frame-help-info-mark-more-query-question.svg" />
          </div>
          <div class="text">Help</div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="component-7">
          <div class="frame">
            <img class="img" src="/image/interface-logout--arrow-exit-frame-leave-logout-rectangle-right.svg" />
          </div>
          <div class="text-2"><a href="/auth/vendor/logout">Log Out</a></div>
          <img class="frame-2" src="/image/navigate_next.svg" />
        </div>
        <div class="line"><img class="line-2" src="/image/line-28-4.svg" /></div>
        <div class="line-wrapper"><img class="line-2" src="/image/line-28-4.svg" /></div>
        <div class="img-wrapper"><img class="line-2" src="/image/line-28-4.svg" /></div>
        <div class="line-3"><img class="line-2" src="/image/line-28-4.svg" /></div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
