<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/searchStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="/frontEnd/ajax.js" defer></script>
 
  </head>
  <body>
    <%- include('../../../components/header') %>
    
    <div class="search">
      <div class="div">
        <div class="searchbar-condensed">
          <div class="group">
            <div class="overlap-group">
            </div>
          </div>
          <form action="/search" method="POST">
            <input type="text" name="query" class="search-input" placeholder="Markets, Vendors, Product">
            <button type="submit" class="search-button">
                <i class="fas fa-search button-full-effect"></i>
            </button>
          </form>
          <a href="/home"><img class="back-button button-full-effect" src="/image/navigate_before.svg" /></a>
        </div>
        <div>
        </div>
        <div id="result-container">

        </div>
      </div>

    </div>
    <%- include('../../../components/footer') %>

  </body>
</html>