<div class="nav-bar">
    <div class="nav-item">
      <img src="/image/Home.svg" alt="Home">
      <span>Home</span>
    </div>
    <div class="nav-item">
      <img src="/image/Search.svg" alt="Search">
      <span>Search</span>
    </div>
    <div class="nav-item">
      <img src="/image/Cart.svg" alt="Cart">
      <span>Cart</span>
    </div>
    <div class="nav-item">
      <img src="/image/Account.svg" alt="Profile">
      <span>Profile</span>
    </div>
</div>