<div class="nav-bar">
    <div class="nav-item">
      <a href="/home" class="button-link">
        <img src="/image/Home.svg" alt="Home">
        <span>Home</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="/search" class="button-link">
        <img src="/image/Search.svg" alt="Search">
        <span>Search</span>
      </a>
    </div>
    <div class="nav-item">
      <a href="/home" class="button-link">
        <img src="/image/Cart.svg" alt="Cart">
        <span>Cart</span>
      </a>
    </div>
    <div class="nav-item">
      <a href=<%= profileLink %> class="button-link">
        <img src="/image/Account.svg" alt="Profile">
        <span>Profile</span>
      </a>
    </div>
</div>