<div class="status-bar-iphone">
    <div class="left-content">
        <img src="/image/TempWordMark.svg" alt="Local Harvest Logo"/>
        <!-- <p class="brand-name">Local Harvest</p> -->
    </div>
</div>
