<div class="search">
    <div class="div">
      <div class="searchbar-condensed">
        <form action="/search" method="POST">
          <input type="text" name="keyword" class="search-input" placeholder="Markets, Vendors, Product">
          <button type="submit" class="search-button">
              <i class="fas fa-search"></i>
          </button>
        </form>
        <img class="back-button" src="/image/navigate_before.svg" />
      </div>
      <div>
      </div>
    </div>
  </div>