<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/errorStyle/style.css" />
  </head>
  <body>
    <div class="mobile-simulator">
      <div class="error-page">
        <div class="overlap">
          <img class="square-rectangle" src="/image/8469.jpg" />
          <div class="group">
            <div class="placeholder">
              <div class="overlap-group">
                <div class="text-wrapper">
                  Sorry, we cannot find the URL <code class="code"><%= url %></code>.
                </div>
                <button class="overlay-button">
                  <a href="/home">Homepage</a>
                </button>
              </div>
            </div>
          </div>
          <div class="header-group">
            <img class="orang" src="/image/LogoWithWordmark.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
