<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/landingStyle/style.css" />
  </head>
  <body>
    <div class="mobile-simulator">
      <div class="landing-page">
        <div class="overlap">
          <img class="square-rectangle" src="/image/Landing.jpg" />
          <div class="group">
            <div class="placeholder">
              <div class="overlap-group">
                <div class="text-wrapper">
                  Sorry, we cannot find the URL <code><%= url %></code>. Test
                </div>
                <button class="overlay-button">
                  <a href="/home">Homepage</a>
                </button>
              </div>
            </div>
          </div>
          <div class="header-group">
            <img class="orang" src="/image/TempWordMark.svg" />
          </div>
        </div>
        <div class="status-bar-iphone"></div>
      </div>
    </div>
  </body>
</html>
