<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/customerStyle/style.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="user-account">
      <div class="div">
        <img class="back-button" src="/image/navigate_before.svg" />
        <div class="text-wrapper">Customer</div>
        <div class="account-nav">
          <div class="frame"><img src="/image/person_outline_24px.svg" /></div>
          <div class="text">Manage Account</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="overlap">
          <div class="account-nav-2">
            <div class="text">Favorited Items</div>
            <img class="img" src="/image/navigate_next.svg" />
          </div>
          <img class="favourite" src="/image/favourite.png" />
        </div>
        <div class="component">
          <div class="frame"><img class="img-2" src="/image/interface-key.svg" /></div>
          <div class="text">Password</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="component-2">
          <div class="frame">
            <img
              class="img-2"
              src="/image/interface-pad-lock-shield--combination-combo-lock-locked-padlock-secure-security-shield-square.svg"
            />
          </div>
          <div class="text">Privacy</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="component-3">
          <div class="frame"><img class="img-2" src="/image/interface-file-multiple--double-common-file.svg" /></div>
          <div class="text">Terms and Conditions</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="component-4">
          <div class="frame">
            <img
              class="img-2"
              src="/image/interface-help-question-circle--circle-faq-frame-help-info-mark-more-query-question.svg"
            />
          </div>
          <div class="text">Help</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="component-5">
          <div class="frame">
            <img class="img-2" src="/image/interface-logout--arrow-exit-frame-leave-logout-rectangle-right.svg" />
          </div>
          <div class="text-2">Log Out</div>
          <img class="img" src="/image/navigate_next.svg" />
        </div>
        <div class="recent-purchases">
          <div class="div-wrapper"><div class="text-wrapper-2">Your Recent Purchases:</div></div>
          <div class="frame-2">
            <div class="product-user">
              <div class="rectangle-wrapper"><div class="rectangle"></div></div>
              <div class="frame-3">
                <div class="text-wrapper-3">Product name here</div>
                <div class="text-wrapper-4">Vendor name here</div>
              </div>
              <img class="frame-4" src="/image/line.png" />
              <div class="frame-5">
                <div class="frame-6">
                  <div class="text-wrapper-5">Date:</div>
                  <div class="text-wrapper-6">xx/xx/xxxx</div>
                </div>
                <div class="frame-7">
                  <div class="text-wrapper-7">Hasting Park Market</div>
                  <div class="text-wrapper-8">Market:</div>
                </div>
              </div>
            </div>
            <div class="product-user">
              <div class="rectangle-wrapper"><div class="rectangle"></div></div>
              <div class="frame-3">
                <div class="text-wrapper-3">Product name here</div>
                <div class="text-wrapper-4">Vendor name here</div>
              </div>
              <img class="frame-4" src="/image/line.png" />
              <div class="frame-5">
                <div class="frame-6">
                  <div class="text-wrapper-5">Date:</div>
                  <div class="text-wrapper-6">xx/xx/xxxx</div>
                </div>
                <div class="frame-7">
                  <div class="text-wrapper-7">Hasting Park Market</div>
                  <div class="text-wrapper-8">Market:</div>
                </div>
              </div>
            </div>
            <div class="product-user">
              <div class="rectangle-wrapper"><div class="rectangle"></div></div>
              <div class="frame-3">
                <div class="text-wrapper-3">Product name here</div>
                <div class="text-wrapper-4">Vendor name here</div>
              </div>
              <img class="frame-4" src="/image/line.png" />
              <div class="frame-5">
                <div class="frame-6">
                  <div class="text-wrapper-5">Date:</div>
                  <div class="text-wrapper-6">xx/xx/xxxx</div>
                </div>
                <div class="frame-7">
                  <div class="text-wrapper-7">Hasting Park Market</div>
                  <div class="text-wrapper-8">Market:</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="overlap-group">
            <img
              class="interface-edit-write"
              src="/image/interface-edit-write-2--change-document-edit-modify-paper-pencil-write-writing.svg"
            />
          </div>
          <div class="user-name"><%= customerName %></div>
          <div class="text-wrapper-9">Account type</div>
          <div class="edit-basic-profile">Edit Profile</div>
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
