<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendorStyle/styleguide.css" />
    <link rel="stylesheet" href="/sharedStyle/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/homeStyle/style.css" />
  </head>
  <body>
    <%- include('../../../components/header') %>
    <div class="home-page">
      <div class="div">
        <div class="searchbar">
          <div class="searchbar-condensed">
            <form action="/search" method="POST">
              <input type="text" name="keyword" class="search-input" placeholder="Markets, Vendors, Product">
              <button type="submit" class="search-button">
                  <i class="fas fa-search button-full-effect"></i>
              </button>
            </form>
            <a href="/"><img class="back-button button-full-effect" src="/image/navigate_before.svg" /></a>
          </div>
        </div>

        <div class="text-wrapper">Categories</div>
        <div class="text-wrapper-2">Featured Market</div>
        <div class="text-wrapper-3">Browse Markets</div>
        <div class="text-wrapper-4">Browse Vendors</div>
        
        <div class="text-wrapper-13">View all</div>
        <div class="text-wrapper-14">View all</div>
        <div class="text-wrapper-15">View all</div>

        <div class="mid-banner">
          <div class="overlap-group-2">
            <div class="div-wrapper"><img class="div-wrapper" src="image/market.png" /><div class="rectangle-2"></div></div>
            <div class="text-wrapper-16">Hastings Park Market</div>
          </div>
        </div>
        <div class="mid-banner-2">
          <div class="overlap-group-2">
            <div class="mid-banner-3"><img class="div-wrapper" src="image/market.png" /><div class="rectangle-2"></div></div>
            <div class="hastings-park-market">Bob’s Tomato Farm</div>
          </div>
        </div>
        <div class="mid-banner-4">
          <div class="overlap-group-2">
            <div class="mid-banner-5"><img class="div-wrapper" src="image/market.png" /><div class="rectangle-2"></div></div>
            <div class="text-wrapper-16">Hastings Park Market</div>
          </div>
        </div>
        <div class="mid-banner-6">
          <div class="overlap-group-2">
            <div class="mid-banner-7"><img class="div-wrapper" src="image/market.png" /><div class="rectangle-2"></div></div>
            <div class="hastings-park-market-2">Seb’s Fish Monger</div>
          </div>
        </div>
        
        <div class="vendor">
          <p class="lorem-ipsum-dolor">Over 30 vendors each week with variety of selections.</p>
          <div class="business-name"><a class="button-full-effect" href="/market">Hastings Park</a></div>
          <img class="rectangle-3" src="image/market.png" />
          <div class="category"><div class="text-wrapper-17">Hastings Park</div></div>
          <div class="hastings-park-wrapper"><div class="hastings-park">Winter Market</div></div>
        </div>

        <div class="category-2"><div class="hastings-park-2">Produce</div></div>
        <div class="category-3"><div class="hastings-park-3">Fruit</div></div>
        <div class="category-4"><div class="hastings-park-3">Beverages</div></div>
        <div class="category-5"><div class="hastings-park-3">Alcohol</div></div>
        <div class="category-6"><div class="hastings-park-4">Poultry</div></div>
        <div class="category-7"><div class="hastings-park-3">Specialty</div></div>
        <div class="category-8"><div class="hastings-park-3">Meats</div></div>
        <div class="category-9"><div class="hastings-park-4">Baked Goods</div></div>

        <div class="overlap">
          <div class="text-wrapper-5">Popular Items</div>
          <div class="text-wrapper-6"><a class="button-full-effect" href="/products">View all</a></div>
          <div class="item-carosel">
            <div class="item-content">
              <div class="overlap-group">
                <div class="rectangle-wrapper"><img class="rectangle" src="image/tomato.jpeg" /></div>
                <div class="group"><img class="add-to-cart" src="image/plus.png" /></div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-group">
                <div class="rectangle-wrapper"><img class="rectangle" src="image/tomato.jpeg" /></div>
                <div class="group"><img class="add-to-cart" src="image/plus.png" /></div>
              </div>
            </div>
            <div class="overlap-group-wrapper">
              <div class="overlap-group">
                <div class="rectangle-wrapper"><img class="img" src="image/tomato.jpeg" /></div>
                <img class="group-2" src="image/plus.png" />
              </div>
            </div>
            <div class="text-wrapper-7">Gala Apple</div>
            <div class="text-wrapper-8">Juicy Orange</div>
            <div class="text-wrapper-9">Chocolate C...</div>
            <div class="text-wrapper-10">$1</div>
            <div class="text-wrapper-11">$1</div>
            <div class="text-wrapper-12">$1</div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../../components/footer') %>
  </body>
</html>
